datasets==3.0.0
deepspeed==0.15.1
evaluate==0.4.3
flair==0.14.0
numpy==1.25.2
PyYAML==6.0.2
safetensors==0.4.5
-f https://download.pytorch.org/whl/torch_stable.html 
torch==2.3.0+cu121
transformers==4.44.2
bert-score==0.3.12
nltk==3.9.1
absl-py==2.1.0
accelerate==0.34.2
rouge-score==0.1.2
wandb==0.18.1
sacremoses==0.1.1